input[type="text"] { width: 98%; margin-bottom: 10px; height: 25px;}
input[type="submit"] { margin-left: 480px; height: 45px; width: 213px; background: #c71e1c; color: white; @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap'); border-radius: 50px;}
body {
    color: rgb(0, 0, 0);
}